body{
  padding:60px;
  background-color: rgba(var(--b3f,250,250,250),1);
}
  ::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    background-position: 40%;
    background-size: 6%;
    background-image: url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png");
    background-repeat: no-repeat;
  }
  .storyphoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(238, 39, 82);
    margin-right: 7px;
  }
  
  .storytext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
  }
  .postuserfont {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
  }
  .rightpanellinks {
    text-decoration: none;
    color: lightgrey;
  }
  
  .rightpanellinks:hover {
    text-decoration: none;
    color: lightgrey;
  }
  .navbar{
    z-index: 1000;
  }
  .rightpanel{
    background-color: white;
    border:none;
    position: fixed;
  }